/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
/* index.css */
/* index.css */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px); 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #174470;
    color: white;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #779ec9;
}


.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}



.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #6b0404;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ee0707;
}

